/dts-v1/;
/plugin/;

/ {
	fragment@0 {
		target-path = "/";
		__overlay__ {
			sensor_hub: sensor-hub {
				compatible = "poozoo,sensor-hub";
				status = "okay";

				/* PIR: gpiochip3 line 5, active high */
				pir-gpios = <&gpio3 5 0>;

				/* SHT20 */
				sht20-bus-num = <2>;
				sht20-addr = <0x40>;
			};
		};
	};
};